<mat-card>
  <mat-card-subtitle>
    <i class="fas {{properties.icon}} fa-lg fa-fw" [ngClass]="properties.iconClasses"></i>
    {{properties.text}}
    <span (click)="openInfoPage()"> <i class="far fa-question-circle fa-lg fa-fw color-gray float-right cursor-pointer"></i></span> 
  </mat-card-subtitle>
  <mat-card-content>
    <canvas baseChart #baseChart="base-chart" [datasets]="barChartData" [labels]="barChartLabels"
      [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType"
      [colors]="barChartColors"></canvas>
  </mat-card-content>
</mat-card>