<mat-card>
  <mat-card-subtitle>
    <fa-icon [icon]="properties.icon" [fixedWidth]="true" [ngClass]="properties.iconClasses"></fa-icon>
    {{properties.text}}
    <span (click)="openInfoPage()">
      <fa-icon [icon]="faIcons.far.faQuestionCircle" [fixedWidth]="true" class="color-gray float-right cursor-pointer">
      </fa-icon>
    </span>
  </mat-card-subtitle>
  <mat-card-content>
    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
      [legend]="barChartLegend" [type]="barChartType" [plugins]="barChartPlugins"></canvas>
  </mat-card-content>
</mat-card>