<mat-card fxLayout="column">
    <mat-card-subtitle>
        <span>
            <fa-icon [icon]="faIcons.fas.faUserCheck" [fixedWidth]="true"></fa-icon> Perks
        </span>
        <div [matMenuTriggerFor]="menu" class="float-right cursor-pointer">Options
            <fa-icon [icon]="faIcons.fas.faTasks" [fixedWidth]="true"></fa-icon>
        </div>
        <mat-menu #menu="matMenu">
            <mat-checkbox (click)="$event.stopPropagation();" (change)="togglePerkIcons()" [checked]="showIcons" class="mat-menu-item large-checkbox-no-margin">Show Perk Icons</mat-checkbox>
            <mat-checkbox (click)="$event.stopPropagation();" [(ngModel)]="hideRealNames" class="mat-menu-item large-checkbox-no-margin">Mask Unlockable Names</mat-checkbox>
            <button mat-menu-item [matMenuTriggerFor]="gameTypesMenu">Select Game Versions</button>
        </mat-menu>

        <mat-menu #gameTypesMenu="matMenu">
            <ng-container *ngFor="let game of gameService.games | keyvalue: gameVersionOrder">
                <mat-checkbox (click)="$event.stopPropagation();" (change)="toggleGameVersion(game.value)" [checked]="game.value.enabled" [disabled]="disableGameNameCheckbox(game.key)" class="mat-menu-item large-checkbox-no-margin">{{game.value.name}}</mat-checkbox>
            </ng-container>
        </mat-menu>
    </mat-card-subtitle>
    <mat-card-content>
        <mat-form-field fxLayout="column wrap">
            <mat-select placeholder="Select Character" [(value)]="selectedCharacter" (selectionChange)="selectedCharacterChanged()">
                <mat-select-trigger fxLayout="row">
                    <img src="assets/icons/charIcons/{{charService.getCharacter().icon}}" class="char-icon">
                    <div class="char-name-label">
                        <div>{{ hideRealNames ? charService.getCharacter().hiddenName : charService.getCharacter().name}}</div>
                        <div class="game-label color-gray">{{charService.getCharacter().gameName}}</div>
                    </div>
                </mat-select-trigger>
                <ng-container  *ngFor="let character of charService.getCharacters(), let char_i = index">
                    <mat-option *ngIf="gameService.games.get(character.gameName)?.enabled" [value]="char_i">
                        <div>
                            <img src="assets/icons/charIcons/{{character.icon}}" class="char-icon">
                            <span class="char-name-label">{{ hideRealNames ? character.hiddenName : character.name }}</span>
                            <span class="game-label float-right color-gray">{{character.gameName}}</span>
                        </div>
                    </mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
        <div>
            <span class="font-sakkal-majalla">Perks Chosen: {{ getPerkCount() }}</span>
            <div *ngFor="let perk of charService.getCharacter().perkList" fxLayoutGap="5px">
                <span *ngFor="let use of perk.uses, let use_i = index">
                    <mat-checkbox [(ngModel)]="perk.uses[use_i].used" (change)="perkChanged()" class="large-checkbox">
                    </mat-checkbox>
                </span>
                <b>
                    <ng-container *ngFor="let word of perk.name.split(' ')">
                        <ng-container *ngIf="iconWords.has(word) && showIcons; else elseTemplate">
                            <app-perk-icons [icon]="word"></app-perk-icons>
                        </ng-container>
                        <ng-template #elseTemplate>
                           <span class="font-sakkal-majalla"> {{word}}</span>
                        </ng-template>
                    </ng-container>
                </b>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button color="primary" (click)="reset()" style="margin-right: 1em">Reset</button>
        <button mat-flat-button color="primary" (click)="toggleComparison()">
      {{ charService.getCharacter().compareDeck == null ? 'Add Comparison' : 'Remove Comparison' }}</button>
    </mat-card-actions>
</mat-card>