.char-icon {
    width: 1.5em;
    vertical-align: -0.5em;
}

.game-label {
    margin-left: 10px;
    font-size: smaller;
}

.char-name-label {
    margin-left: 10px;
}

// .font-sakkal-majalla {
//     font-size: 1.5em;
// }