.char-icon {
    width: 2em;
    height: 100%;
    vertical-align: middle;
}

.char-icon

.game-label {
    // margin-left: 1.5em;
    font-size: smaller;
}

.char-name-label {
    margin-left: 10px;
}

// .font-sakkal-majalla {
//     font-size: 1.5em;
// }