<svg *ngIf="icon.startsWith('('); else elseBlock" class="icon circle-number" width="1.3em" height="1.3em">
  <circle cx="50%" cy="50%" r="40%" stroke="currentColor" stroke-width="2" fill-opacity=0 />
  <text x="47%" y="73%" text-anchor="middle" fill="currentColor">{{icon.replace('(','').replace(')','')}}</text>
</svg>

<ng-template #elseBlock>
  {{iconMap[icon].text}}
  <mat-icon *ngIf="iconMap[icon].icon.endsWith('.svg') else notSVG" class="icon" [ngClass]="iconMap[icon].class" [svgIcon]="icon"></mat-icon>
  <ng-template #notSVG>
    <img class="icon" [ngClass]="iconMap[icon].class" [src]="'assets/icons/' + iconMap[icon].icon">
  </ng-template>
</ng-template>
