<fa-layers *ngIf="icon == '(-2)'" size="lg">
    <fa-icon [icon]="faIcons.far.faCircle"></fa-icon>
    <fa-layers-text content="-2" transform="shrink-6 up-0.5 left-1"></fa-layers-text>
</fa-layers>

<fa-layers *ngIf="icon == '(-1)'" size="lg">
    <fa-icon [icon]="faIcons.far.faCircle"></fa-icon>
    <fa-layers-text content="-1" transform="shrink-6 up-0.5"></fa-layers-text>
</fa-layers>

<fa-layers *ngIf="icon == '(+0)'" size="lg">
    <fa-icon [icon]="faIcons.far.faCircle"></fa-icon>
    <fa-layers-text content="+0" transform="shrink-7 up-0.25"></fa-layers-text>
</fa-layers>

<fa-layers *ngIf="icon == '(+1)'" size="lg">
    <fa-icon [icon]="faIcons.far.faCircle"></fa-icon>
    <fa-layers-text content="+1" transform="shrink-7 up-0.25"></fa-layers-text>
</fa-layers>

<fa-layers *ngIf="icon == '(+2)'" size="lg">
    <fa-icon [icon]="faIcons.far.faCircle"></fa-icon>
    <fa-layers-text content="+2" transform="shrink-7 up-0.25 left-0.5"></fa-layers-text>
</fa-layers>

<fa-layers *ngIf="icon == '(+3)'" size="lg">
    <fa-icon [icon]="faIcons.far.faCircle"></fa-icon>
    <fa-layers-text content="+3" transform="shrink-7 up-0.25"></fa-layers-text>
</fa-layers>

<fa-layers *ngIf="icon == '(+4)'" size="lg">
    <fa-icon [icon]="faIcons.far.faCircle"></fa-icon>
    <fa-layers-text content="+4" transform="shrink-7 up-0.25"></fa-layers-text>
</fa-layers>

<fa-layers *ngIf="icon == 'DARK'" size="lg">
    <fa-icon [icon]="faIcons.far.faCircle"></fa-icon>
    <fa-icon [icon]="faIcons.fas.faCircle" transform="shrink-7 right-1.5"></fa-icon>
    <fa-icon [icon]="faIcons.fas.faCircle" transform="shrink-7 left-1.5"></fa-icon>
    <fa-icon [icon]="faIcons.fas.faCircle" style="color: white" transform="shrink-9 left-1.5"></fa-icon>
</fa-layers>

<span *ngIf="icon == 'INVISIBLE'">
    INVISIBLE
    <fa-layers size="lg">
        <fa-icon [icon]="faIcons.far.faSquare" transform="rotate-45"></fa-icon>
        <fa-icon [icon]="faIcons.fas.faExclamation" transform="rotate-180 shrink-5"></fa-icon>
        <fa-icon [icon]="faIcons.fas.faExclamation" style="color: white" transform="rotate-180 shrink-8"></fa-icon>
    </fa-layers>
</span>

<span *ngIf="icon == 'MUDDLE'">
    MUDDLE
    <fa-layers size="lg">
        <fa-icon [icon]="faIcons.far.faSquare" transform="rotate-45"></fa-icon>
        <fa-icon [icon]="faIcons.fas.faQuestion" transform="shrink-5"></fa-icon>
    </fa-layers>
</span>

<span *ngIf="icon == 'STUN'">
    STUN
    <fa-layers size="lg">
        <fa-icon [icon]="faIcons.far.faSquare" transform="rotate-45"></fa-icon>
        <fa-icon [icon]="faIcons.fas.faCertificate" transform="shrink-5"></fa-icon>
        <fa-icon [icon]="faIcons.fas.faCertificate" [inverse]="true" transform="shrink-10"></fa-icon>
        <fa-icon [icon]="faIcons.fas.faCertificate" transform="shrink-13"></fa-icon>
    </fa-layers>
</span>

<span *ngIf="icon == 'CURSE'">
    CURSE
    <fa-layers size="lg">
        <fa-icon [icon]="faIcons.far.faSquare" transform="rotate-45"></fa-icon>
        <fa-icon [icon]="faIcons.fas.faCircle" transform="up-5.75 shrink-12"></fa-icon>
        <fa-icon [icon]="faIcons.fas.faBolt" transform="shrink-5 up-1 right-1"></fa-icon>
    </fa-layers>
</span>

<span *ngIf="icon == 'TARGET'">
    TARGET
    <fa-layers size="lg">
        <fa-icon [icon]="faIcons.far.faSquare" transform="rotate-45"></fa-icon>
        <fa-icon [icon]="faIcons.fas.faBullseye" transform="shrink-6"></fa-icon>
    </fa-layers>
</span>

<span *ngIf="icon == 'DISARM'">
    DISARM
    <fa-layers size="lg">
        <fa-icon [icon]="faIcons.far.faSquare" transform="rotate-45"></fa-icon>
        <fa-icon [icon]="faIcons.fas.faAllergies" flip="horizontal" transform="shrink-7 rotate-90"></fa-icon>
    </fa-layers>
</span>

<span *ngIf="icon == 'IMMOBILIZE'">
    IMMOBILIZE
    <fa-layers size="lg">
        <fa-icon [icon]="faIcons.far.faSquare" transform="rotate-45"></fa-icon>
        <fa-icon [icon]="faIcons.fas.faSocks" transform="shrink-9 right-1 down-1"></fa-icon>
        <fa-icon [icon]="faIcons.fas.faLongArrowAltRight" transform="shrink-9 left-2 rotate-45"></fa-icon>
    </fa-layers>
</span>

<span *ngIf="icon == 'PIERCE'">
    PIERCE
    <fa-layers size="lg">
        <fa-icon [icon]="faIcons.far.faSquare" transform="rotate-45"></fa-icon>
        <fa-icon [icon]="faIcons.fas.faCloud" transform="shrink-13 rotate-90 up-3 left-1.5"></fa-icon>
        <fa-icon [icon]="faIcons.fas.faLongArrowAltRight" transform="shrink-6"></fa-icon>
        <fa-icon [icon]="faIcons.fas.faCloud" flip="vertical" transform="shrink-13 rotate-90 down-3 left-1.5"></fa-icon>
    </fa-layers>
</span>

<span *ngIf="icon == 'PUSH'">
    PUSH
    <fa-layers size="lg">
        <fa-icon [icon]="faIcons.far.faSquare" transform="rotate-45"></fa-icon>
        <fa-icon [icon]="faIcons.fas.faLongArrowAltRight" transform="shrink-6"></fa-icon>
    </fa-layers>
</span>

<span *ngIf="icon == 'PULL'">
    PULL
    <fa-layers size="lg">
        <fa-icon [icon]="faIcons.far.faSquare" transform="rotate-45"></fa-icon>
        <fa-icon [icon]="faIcons.fas.faLongArrowAltLeft" transform="shrink-6"></fa-icon>
    </fa-layers>
</span>

<span *ngIf="icon == 'POISON'">
    POISON
    <fa-layers size="lg">
        <fa-icon [icon]="faIcons.far.faCircle"></fa-icon>
        <fa-icon [icon]="faIcons.fas.faSkull" transform="shrink-6"></fa-icon>
    </fa-layers>
</span>

<span *ngIf="icon == 'WOUND'">
    WOUND
    <fa-layers size="lg">
        <fa-icon [icon]="faIcons.far.faCircle"></fa-icon>
        <fa-icon [icon]="faIcons.fas.faBurn" transform="shrink-6"></fa-icon>
    </fa-layers>
</span>

<span *ngIf="icon == 'REGENERATE'">
    REGENERATE
    <fa-layers size="lg">
        <fa-icon [icon]="faIcons.far.faCircle"></fa-icon>
        <fa-icon [icon]="faIcons.fas.faHandPaper" flip="horizontal" transform="shrink-6"></fa-icon>
    </fa-layers>
</span>


<span *ngIf="icon == 'HEAL'">
    Heal
    <fa-layers size="lg">
        <fa-icon [icon]="faIcons.fas.faTint"></fa-icon>
        <fa-icon [icon]="faIcons.fas.faCircle" transform="down-2 shrink-7"></fa-icon>
        <fa-icon [icon]="faIcons.fas.faPlus" style="color: white" transform="shrink-7 down-2"></fa-icon>
    </fa-layers>
</span>


<span *ngIf="icon == 'Shield'">
    Shield
    <fa-layers size="lg">
        <fa-icon [icon]="faIcons.fas.faShieldAlt"></fa-icon>
    </fa-layers>
</span>

<fa-layers *ngIf="icon == 'EARTH'" size="lg">
    <fa-icon [icon]="faIcons.far.faCircle"></fa-icon>
    <fa-icon [icon]="faIcons.fas.faLeaf" transform="shrink-8 rotate--20 left-1"></fa-icon>
</fa-layers>

<fa-layers *ngIf="icon == 'WIND'" size="lg">
    <fa-icon [icon]="faIcons.far.faCircle"></fa-icon>
    <fa-icon [icon]="faIcons.fas.faWind" transform="shrink-7"></fa-icon>
</fa-layers>

<fa-layers *ngIf="icon == 'FROST'" size="lg">
    <fa-icon [icon]="faIcons.far.faCircle"></fa-icon>
    <fa-icon [icon]="faIcons.far.faSnowflake" transform="shrink-6"></fa-icon>
</fa-layers>

<fa-layers *ngIf="icon == 'FIRE'" size="lg">
    <fa-icon [icon]="faIcons.far.faCircle"></fa-icon>
    <fa-icon [icon]="faIcons.fas.faFireAlt" transform="shrink-6"></fa-icon>
</fa-layers>

<fa-layers *ngIf="icon == 'SUN'" size="lg">
    <fa-icon [icon]="faIcons.far.faCircle"></fa-icon>
    <fa-icon [icon]="faIcons.fas.faSun" transform="shrink-6"></fa-icon>
</fa-layers>

<fa-layers *ngIf="icon == 'rolling'" [fixedWidth]="true" size="lg">
    <fa-icon [icon]="faIcons.far.faSquare" transform="rotate-45"></fa-icon>
    <fa-icon [icon]="faIcons.fas.faShare" transform="rotate-30 right-.5 shrink-6"></fa-icon>
</fa-layers>