fa-layers {
    vertical-align: -0.25em;
}

.icon {
    height: 1.3em;
    vertical-align: -.4em;
}

.circle-number {
    margin-left: 0.15em;
}

.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

svg text {
    font-family: 'Pirata One';
    font-size: 0.8em;
    font-weight: 100;
}