<span *ngIf="icon == '(-2)'" class="fa-layers fa-lg">
    <i class="far fa-circle"></i>
    <span class="fa-layers-text" data-fa-transform="shrink-6 up-0.5 left-1">-2</span>
</span>

<span *ngIf="icon == '(-1)'" class="fa-layers fa-lg">
    <i class="far fa-circle"></i>
    <span class="fa-layers-text" data-fa-transform="shrink-6 up-0.5">-1</span>
</span>

<span *ngIf="icon == '(+0)'" class="fa-layers fa-lg">
    <i class="far fa-circle"></i>
    <span class="fa-layers-text" data-fa-transform="shrink-7 up-0.25">+0</span>
</span>

<span *ngIf="icon == '(+1)'" class="fa-layers fa-lg">
    <i class="far fa-circle"></i>
    <span class="fa-layers-text" data-fa-transform="shrink-7 up-0.25">+1</span>
</span>

<span *ngIf="icon == '(+2)'" class="fa-layers fa-lg">
    <i class="far fa-circle"></i>
    <span class="fa-layers-text" data-fa-transform="shrink-7 up-0.25 left-0.5">+2</span>
</span>

<span *ngIf="icon == '(+3)'" class="fa-layers fa-lg">
    <i class="far fa-circle"></i>
    <span class="fa-layers-text" data-fa-transform="shrink-7 up-0.25">+3</span>
</span>

<span *ngIf="icon == '(+4)'" class="fa-layers fa-lg">
    <i class="far fa-circle"></i>
    <span class="fa-layers-text" data-fa-transform="shrink-7 up-0.25">+4</span>
</span>

<span *ngIf="icon == 'DARK'" class="fa-layers fa-lg">
    <i class="far fa-circle"></i>
    <i class="fas fa-circle" data-fa-transform="shrink-7 right-1.5"></i>
    <i class="fas fa-circle" data-fa-transform="shrink-7 left-1.5"></i>
    <i class="fas fa-circle" style="color: white" data-fa-transform="shrink-9 left-1.5"></i>
</span>

<span *ngIf="icon == 'INVISIBLE'">
    INVISIBLE
    <span class="fa-layers fa-lg">
        <i class="far fa-square" data-fa-transform="rotate-45"></i>
        <i class="fas fa-exclamation" data-fa-transform="rotate-180 shrink-5"></i>
        <i class="fas fa-exclamation" style="color: white" data-fa-transform="rotate-180 shrink-8"></i>
    </span>
</span>

<span *ngIf="icon == 'MUDDLE'">
    MUDDLE
    <span class="fa-layers fa-lg">
        <i class="far fa-square" data-fa-transform="rotate-45"></i>
        <i class="fas fa-question" data-fa-transform="shrink-5"></i>
    </span>
</span>

<span *ngIf="icon == 'STUN'">
    STUN
    <span class="fa-layers fa-lg">
        <i class="far fa-square" data-fa-transform="rotate-45"></i>
        <i class="fas fa-certificate" data-fa-transform="shrink-5"></i>
        <i class="fas fa-certificate fa-inverse" data-fa-transform="shrink-10"></i>
        <i class="fas fa-certificate" data-fa-transform="shrink-13"></i>
    </span>
</span>

<span *ngIf="icon == 'CURSE'">
    CURSE
    <span class="fa-layers fa-lg">
        <i class="far fa-square" data-fa-transform="rotate-45"></i>
        <i class="fas fa-circle" data-fa-transform="up-5.75 shrink-12"></i>
        <i class="fas fa-bolt" data-fa-transform="shrink-5 up-1 right-1"></i>
    </span>
</span>

<span *ngIf="icon == 'TARGET'">
    TARGET
    <span class="fa-layers fa-lg">
        <i class="far fa-square" data-fa-transform="rotate-45"></i>
        <i class="fas fa-bullseye" data-fa-transform="shrink-6"></i>
    </span>
</span>

<span *ngIf="icon == 'DISARM'">
    DISARM
    <span class="fa-layers fa-lg">
        <i class="far fa-square" data-fa-transform="rotate-45"></i>
        <i class="fas fa-allergies fa-flip-horizontal" data-fa-transform="shrink-7 rotate-90"></i>
    </span>
</span>

<span *ngIf="icon == 'IMMOBILIZE'">
    IMMOBILIZE
    <span class="fa-layers fa-lg">
        <i class="far fa-square" data-fa-transform="rotate-45"></i>
        <i class="fas fa-socks" data-fa-transform="shrink-9 right-1 down-1"></i>
        <i class="fas fa-long-arrow-alt-right" data-fa-transform="shrink-9 left-2 rotate-45"></i>
    </span>
</span>

<span *ngIf="icon == 'PIERCE'">
    PIERCE
    <span class="fa-layers fa-lg">
        <i class="far fa-square" data-fa-transform="rotate-45"></i>
        <i class="fas fa-cloud" data-fa-transform="shrink-13 rotate-90 up-3 left-1.5"></i>
        <i class="fas fa-long-arrow-alt-right" data-fa-transform="shrink-6"></i>
        <i class="fas fa-cloud fa-flip-vertical" data-fa-transform="shrink-13 rotate-90 down-3 left-1.5"></i>
    </span>
</span>

<span *ngIf="icon == 'PUSH'">
    PUSH
    <span class="fa-layers fa-lg">
        <i class="far fa-square" data-fa-transform="rotate-45"></i>
        <i class="fas fa-long-arrow-alt-right" data-fa-transform="shrink-6"></i>
    </span>
</span>

<span *ngIf="icon == 'PULL'">
    PULL
    <span class="fa-layers fa-lg">
        <i class="far fa-square" data-fa-transform="rotate-45"></i>
        <i class="fas fa-long-arrow-alt-left" data-fa-transform="shrink-6"></i>
    </span>
</span>

<span *ngIf="icon == 'POISON'">
    POISON
    <span class="fa-layers fa-lg">
        <i class="far fa-circle"></i>
        <i class="fas fa-skull" data-fa-transform="shrink-6"></i>
    </span>
</span>

<span *ngIf="icon == 'WOUND'">
    WOUND
    <span class="fa-layers fa-lg">
        <i class="far fa-circle"></i>
        <i class="fas fa-burn" data-fa-transform="shrink-6"></i>
    </span>
</span>

<span *ngIf="icon == 'REGENERATE'">
    REGENERATE
    <span class="fa-layers fa-lg">
        <i class="far fa-circle"></i>
        <i class="fas fa-hand-paper fa-flip-horizontal" data-fa-transform="shrink-6"></i>
    </span>
</span>


<span *ngIf="icon == 'HEAL'">
    Heal
    <span class="fa-layers fa-lg">
        <i class="fas fa-tint"></i>
        <i class="fas fa-circle" data-fa-transform="down-2 shrink-7"></i>
        <i class="fas fa-plus" style="color: white" data-fa-transform="shrink-7 down-2"></i>
    </span>
</span>


<span *ngIf="icon == 'Shield'">
    Shield
    <span class="fa-layers fa-lg">
        <i class="fas fa-shield-alt"></i>
    </span>
</span>


<span *ngIf="icon == 'EARTH'" class="fa-layers fa-lg">
    <i class="far fa-circle"></i>
    <i class="fas fa-leaf" data-fa-transform="shrink-8 rotate--20 left-1"></i>
</span>

<span *ngIf="icon == 'WIND'" class="fa-layers fa-lg">
    <i class="far fa-circle"></i>
    <i class="fas fa-wind" data-fa-transform="shrink-7"></i>
</span>

<span *ngIf="icon == 'FROST'" class="fa-layers fa-lg">
    <i class="far fa-circle"></i>
    <i class="far fa-snowflake" data-fa-transform="shrink-6"></i>
</span>

<span *ngIf="icon == 'FIRE'" class="fa-layers fa-lg">
    <i class="far fa-circle"></i>
    <i class="fas fa-fire-alt" data-fa-transform="shrink-6"></i>
</span>

<span *ngIf="icon == 'SUN'" class="fa-layers fa-lg">
    <i class="far fa-circle"></i>
    <i class="fas fa-sun" data-fa-transform="shrink-6"></i>
</span>

<span *ngIf="icon == 'rolling'" class="fa-layers fa-fw fa-lg">
    <i class="far fa-square" data-fa-transform="rotate-45"></i>
    <i class="fas fa-share" data-fa-transform="rotate-30 right-.5 shrink-6"></i>
</span>