<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Gloomhaven Perk Calculator
  </h1>
</div>

<table>
  <tr>
    <td>
      <table>
        <tr>
          <th>Card</th>
          <th>Count</th>
          <th>Percent</th>
          <th></th>
        </tr>
        <tr *ngFor="let cardType of deck.getCardTypes()">
          <td>{{ cardType }}</td>
          <td>{{ deck.cards[cardType] }}</td>
          <td>{{ deck.cardChance(cardType) }}%</td>
          <td><input type="range" min="1" max="100" value="{{ deck.cardChance(cardType) }}" disabled /></td>
        </tr>
      </table>
    </td>
    <td>
      <table>
        <tr>
          <td>&#8804; -1</td>
          <td>{{ deck.reliabilityNegative()}}%</td>
          <td><input type="range" min="1" max="100" value="{{ deck.reliabilityNegative() }}" disabled /></td>
        </tr>
        <tr>
          <td>= 0</td>
          <td>{{ deck.reliabilityZero()}}%</td>
          <td><input type="range" min="1" max="100" value="{{ deck.reliabilityZero() }}" disabled /></td>
        </tr>
        <tr>
          <td>&#8805; +1</td>
          <td>{{ deck.reliabilityPositive()}}%</td>
          <td><input type="range" min="1" max="100" value="{{ deck.reliabilityPositive() }}" disabled /></td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<br />
<b>Select Character: </b>
<select [(ngModel)]="selectedCharacter" (change)="characterChanged()">
  <option *ngFor="let character of characters, let char_i = index" [ngValue]="char_i" >{{ character.name }}</option>
</select>

<div>
  <h1>{{ characters[selectedCharacter].name }} Perks:</h1>
  <div *ngFor="let perk of characters[selectedCharacter].perkList">
    <span *ngFor="let use of ' '.repeat(perk.uses).split(''), let use_i = index">
      <input type="checkbox" (change)="selectPerk($event, perk.set, perk.unset)" />
    </span>
    <b>{{perk.name}}</b>
  </div>
</div>

<router-outlet></router-outlet>