.wrapper {
	margin: -5px 6px 6px 6px;
}

.github-logo {
	color: white;
}

.toolbar {
	background: #4d5256;
	color: white;
}

.bg-color {
	// background-color: lightsteelblue;
	background-color: #d4dbe4;
}