<mat-card fxLayout="column">
  <mat-card-subtitle><i class="fas fa-money-bill fa-fw fa-lg"></i> Deck Modifiers</mat-card-subtitle>
  <mat-card-content>
    <!--<mat-checkbox [(ngModel)]="hideRealNames">Hide Real names</mat-checkbox>-->
    <mat-form-field fxLayout="row" fxLayout.xs="column wrap">
      <mat-select placeholder="Blessings" [(value)]="deck.cards.Bless">
        <mat-option *ngFor="let character of ' '.repeat(11).split(''), let i = index" [value]="i">
          {{ i }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxLayout="row" fxLayout.xs="column wrap">
      <mat-select placeholder="Curses" [(value)]="deck.cards.Curse">
        <mat-option *ngFor="let character of ' '.repeat(11).split(''), let i = index" [value]="i">
          {{ i }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
</mat-card>