<mat-card fxLayout="column">
    <mat-card-subtitle><i class="fas fa-money-bill fa-fw fa-lg color-purple"></i> Misc. Deck Modifiers</mat-card-subtitle>
    <mat-card-content fxLayoutGap="1em" fxLayout="row wrap">
        <mat-form-field fxFlex="45%">
            <mat-select placeholder="Scenario Curses" [(value)]="modifiers.curse" (selectionChange)="selectionChange()">
                <mat-option *ngFor="let character of ' '.repeat(counts.curse + 1).split(''), let i = index" [value]="i">
                    {{ dropdownValue(i, 'Curse') }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="45%">
            <mat-select placeholder="Scenario (-1) Cards" [(value)]="modifiers['scenario-1']" (selectionChange)="selectionChange()">
                <mat-option *ngFor="let character of ' '.repeat(counts['scenario-1'] + 1).split(''), let i = index" [value]="i">
                    {{ dropdownValue(i, '(-1)') }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="45%">
            <mat-select placeholder="Item (-1) Cards" [(value)]="itemEffectsCount" (selectionChange)="selectionChange()">
                <mat-option *ngFor="let character of ' '.repeat(counts['item-1'] + counts['item-1_remove'] + 1).split(''), let i = index" [value]="i - counts['item-1_remove']">
                    {{ dropdownValue(i - counts['item-1_remove'], '(-1)') }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="45%">
            <mat-select placeholder="Blessings" [(value)]="modifiers.bless" (selectionChange)="selectionChange()">
                <mat-option *ngFor="let character of ' '.repeat(counts.bless + 1).split(''), let i = index" [value]="i">
                    {{ dropdownValue(i, 'Bless') }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-card-content>
</mat-card>