<!-- ABOUT PAGE -->
<div *ngIf="data.infoType === 'about'">
  <h2><i class="fas fa-info-circle fa-fw color-gray"></i> Gloomhaven Perk Calculator Info</h2>
  <p>
    This project is intended to help build your Gloomhaven character by showing you how various perks affect the
    statistics of your modifier deck
  </p>
  <p>
    It was inspired by the <b>Perk Calculator</b> on <a
      href="http://www.boardgamemath.com/boardgames/gloomhaven/gloomhavenPerkCalculator.html"
      target="_blank">BoardGameMath</a>, and the <b>Perk Analysis</b> writeup on <a
      href="https://boardgamegeek.com/thread/2058091/perk-analysis" target="_blank">Board Game Geek</a>
  </p>

  <div>
    Currently the following stats are calculated:
    <ul class="ul-no-bullets">
      <li *ngFor="let stat of statsModules | keyvalue">
        <i class="fas {{stat.value.icon}} fa-fw" [ngClass]="stat.value.iconClasses"></i>&nbsp;
        <b>{{ stat.value.text }}</b> -
        {{stat.value.shortDescription}}
      </li>
    </ul>
    Click the <i class="far fa-question-circle fa-lg color-gray"></i> near each stats card to learn more about it
  </div>
</div>

<!-- AVERAGE DAMAGE -->
<div *ngIf="data.infoType === statsTypes.AVERAGE_DAMAGE">
  <h2><i class="fas {{statsModules.averageDamage.icon}} fa-fw" [ngClass]="statsModules.averageDamage.iconClasses"></i>
    {{statsModules.averageDamage.text}}</h2>

  <p>
    This chart shows the Average Damage given a starting Base Damage.
  </p>
</div>

<!-- EFFECTS PROBABILITY -->
<div *ngIf="data.infoType === statsTypes.EFFECT_PROBABILITY">
  <h2><i class="fas {{statsModules.effectProbability.icon}} fa-fw"
      [ngClass]="statsModules.effectProbability.iconClasses"></i>
    {{statsModules.effectProbability.text}}</h2>

  <p>
    This chart shows the probability that a card with an Effect comes up during an action.
  </p>
</div>

<!-- DECK RELIABILITY -->
<div *ngIf="data.infoType === statsTypes.DECK_RELIABILITY">
  <h2><i class="fas {{statsModules.deckReliability.icon}} fa-fw"
      [ngClass]="statsModules.deckReliability.iconClasses"></i>
    {{statsModules.deckReliability.text}}</h2>

  <p>
    This chart shows the probability of a positive, negative, or neutral outcome for the cards drawn during an action.
  </p>
</div>

<!-- CARD PROBABILITY -->
<div *ngIf="data.infoType === statsTypes.CARD_PROBABILITY">
  <h2><i class="fas {{statsModules.cardProbability.icon}} fa-fw"
      [ngClass]="statsModules.cardProbability.iconClasses"></i>
    {{statsModules.cardProbability.text}}</h2>

  <p>
    This chart shows the probability of specific damage modifier cards being drawn.
  </p>
</div>