<span (click)="bottomSheet.dismiss()" class="mat-card-subtitle">
  <fa-icon [icon]="faIcons.fas.faTimes" [fixedWidth]="true" size="fa-lg"
    class="float-right cursor-pointer bottom-sheet-close"></fa-icon>
</span>
<!-- ABOUT PAGE -->
<div *ngIf="data.infoType === 'about'">
  <h3>
    <fa-icon [icon]="faIcons.fas.faInfoCircle" [fixedWidth]="true" class="color-gray"></fa-icon> About
  </h3>

  <p>
    This {{isMobile ? 'app' : 'project'}} is intended to help build your Gloomhaven character by showing you how various
    perks affect the statistics of your modifier deck
  </p>
  <p>
    It was inspired by the <b>Perk Calculator</b> on <a
      href="http://www.boardgamemath.com/boardgames/gloomhaven/gloomhavenPerkCalculator.html"
      target="_blank">BoardGameMath</a>, and the <b>Perk Analysis</b> writeup on <a
      href="https://boardgamegeek.com/thread/2058091/perk-analysis" target="_blank">Board Game Geek</a>
  </p>

  <div>
    Currently the following stats are calculated:
    <ul class="ul-no-bullets">
      <li *ngFor="let stat of statsModules | keyvalue">
        <fa-icon [icon]="stat.value.icon" [fixedWidth]="true" [ngClass]="stat.value.iconClasses" class="valign-middle">
        </fa-icon>
        &nbsp;
        <b>{{ stat.value.text }}</b> - {{stat.value.shortDescription}}
      </li>
    </ul>
    Click the
    <fa-icon [icon]="faIcons.far.faQuestionCircle" class="color-gray"></fa-icon>
    near each stats card to learn more about it
  </div>
  <p *ngIf="!isMobile">
    If you found this project useful, consider supporting its development by
    <a href="#" (click)="data.infoType = 'app'; false">Downloading the Mobile App
      <fa-icon [icon]="faIcons.fas.faDownload" [fixedWidth]="true" class="color-gray"></fa-icon>
    </a>
  </p>
</div>

<!-- Download App -->
<div *ngIf="data.infoType === 'app'">
  <h3>
    <fa-icon [icon]="faIcons.fas.faDownload" [fixedWidth]="true" class="color-gray"></fa-icon> Download Mobile App
  </h3>
  <p class="margin-bottom-0">If you found this project useful, consider supporting its development by downloading the
    mobile app</p>
  <mat-list>
    <mat-list-item>
      <a href="https://itunes.apple.com/us/app/gloomhaven-perk-calculator/id1491796181" class="text-no-line"
        target="_blank">
        <fa-icon [icon]="faIcons.fab.faApple" [fixedWidth]="true" class="color-gray valign-middle"></fa-icon> Apple App
        Store
      </a>
    </mat-list-item>
    <mat-list-item>
      <a href="https://play.google.com/store/apps/details?id=com.troitsksoft.gloomhaven_calculator_mobile"
        class="text-no-line" target="_blank">
        <fa-icon [icon]="faIcons.fab.faGooglePlay" [fixedWidth]="true" class="color-gray valign-middle"></fa-icon>
        Google Play Store
      </a>
    </mat-list-item>
  </mat-list>
</div>

<!-- AVERAGE DAMAGE -->
<div *ngIf="data.infoType === statsTypes.AVERAGE_DAMAGE">
  <h3>
    <fa-icon [icon]="statsModules.averageDamage.icon" [fixedWidth]="true"
      [ngClass]="statsModules.averageDamage.iconClasses"></fa-icon> {{statsModules.averageDamage.text}}
  </h3>

  <p>
    This chart shows the Average Damage given a starting Base Damage.
  </p>
  <p>
    Since damage in Gloomhaven cannot be negative <i>(1 - 2 = 0)</i>, Base Damage of 0 and 1 have a higher change in
    Average Damage than other Base values.
  </p>
  <p>
    Note that Average Damage suffers from the flaw of averages
  </p>
</div>

<!-- EFFECTS PROBABILITY -->
<div *ngIf="data.infoType === statsTypes.EFFECT_PROBABILITY">
  <h3>
    <fa-icon [icon]="statsModules.effectProbability.icon" [fixedWidth]="true"
      [ngClass]="statsModules.effectProbability.iconClasses"></fa-icon> {{statsModules.effectProbability.text}}
  </h3>

  <p>
    This chart shows the probability that a card with an Effect comes up at least during an entire action
  </p>
  <p>
    The <b>No Effect</b> bar is the probability that not a single Effect card is drawn during an action. That is, it's
    simply the number of cards with no Effect, divided by the total number of cards (rolling cards with no Effects
    excluded)
  </p>
  <p>
    Since you can draw multiple rolling Effect cards in one action, the sum of all Effects and of No Effects can total
    more than 100
  </p>
  <p>
    Rolling modifier cards with no Effects have no impact on these statistics, and are excluded from all calculations
  </p>
</div>

<!-- DECK RELIABILITY -->
<div *ngIf="data.infoType === statsTypes.DECK_RELIABILITY">
  <h3>
    <fa-icon [icon]="statsModules.deckReliability.icon" [fixedWidth]="true"
      [ngClass]="statsModules.deckReliability.iconClasses"></fa-icon> {{statsModules.deckReliability.text}}
  </h3>
  <p>
    This chart shows the probability of a positive, negative, or neutral outcome for the cards drawn during an action.
  </p>
  <p>
    This may be the most important graph to pay attention to. You should strive to increase the predictability of your
    deck by reducing the probability of getting a negative overall modifier
  </p>
  <p>
    Non-damage rolling Effect cards (effectively r+0) have absolutelly no imact on these statistics and aren't shown on
    this graph
  </p>
</div>

<!-- CARD PROBABILITY -->
<div *ngIf="data.infoType === statsTypes.CARD_PROBABILITY">
  <h3>
    <fa-icon [icon]="statsModules.cardProbability.icon" [fixedWidth]="true"
      [ngClass]="statsModules.cardProbability.iconClasses"></fa-icon> {{statsModules.cardProbability.text}}
  </h3>
  <p>
    This chart shows the probability of specific damage modifier cards being drawn
  </p>
  <p>
    Adding or removing rolling damage cards affects the probability of only that card type, but adding or removing
    non-rolling cards affects the probability of all cards
  </p>
  <p>
    The percent is the probability of a card comming up during the entire action. As such, stats for all non-rolling
    cards should add up to 100% (rounding errors aside), while rolling cards can make the absolute total appear to be
    over 100%
  </p>
  <p>
    Non-damage rolling Effect cards (effectively r+0) have absolutelly no imact on these statistics and aren't shown on
    this graph
  </p>
</div>

<!-- SHUFFLE PROBABILITY -->
<div *ngIf="data.infoType === statsTypes.SHUFFLE_PROBABILITY">
  <h3>
    <fa-icon [icon]="statsModules.shuffleProbability.icon" [fixedWidth]="true"
      [ngClass]="statsModules.shuffleProbability.iconClasses"></fa-icon> {{statsModules.shuffleProbability.text}}
  </h3>
  <p>
    This chart shows the probability that the deck will be shuffled on the n<sup>th</sup> action.
  </p>
</div>
