/* For use in src/lib/core/theming/_palette.scss */
$md-gloomprimary: (
    50 : #eaeaeb,
    100 : #cacbcc,
    200 : #a6a9ab,
    300 : #828689,
    400 : #686c6f,
    500 : #4d5256,
    600 : #464b4f,
    700 : #3d4145,
    800 : #34383c,
    900 : #25282b,
    A100 : #7ebcf9,
    A200 : #4ea2f7,
    A400 : #1389ff,
    A700 : #007cf8,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-gloomaccent: (
    50 : #f2f5f8,
    100 : #dfe5ee,
    200 : #c9d4e3,
    300 : #b3c2d8,
    400 : #a3b5cf,
    500 : #93a8c7,
    600 : #8ba0c1,
    700 : #8097ba,
    800 : #768db3,
    900 : #647da6,
    A100 : #ffffff,
    A200 : #e5eeff,
    A400 : #b2ceff,
    A700 : #98beff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-gloomwarn: (
    50 : #fee6e4,
    100 : #fbc0bc,
    200 : #f9968f,
    300 : #f76b62,
    400 : #f54c40,
    500 : #f32c1e,
    600 : #f1271a,
    700 : #ef2116,
    800 : #ed1b12,
    900 : #ea100a,
    A100 : #ffffff,
    A200 : #ffe1e0,
    A400 : #ffafad,
    A700 : #ff9694,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

