/* You can add global styles to this file, and also import other style files */

// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./theme.scss";
.font-pirata-one {
    font-family: 'Pirata One';
}

.font-high-tower {
    font-family: 'High Tower';
}

.font-sakkal-majalla {
    font-family: 'Sakkal Majalla';
}

body {
    margin: 0;
    background-color: rgb(224, 218, 218); // #d4dbe4;
}

mat-card-subtitle {
    font-family: 'Pirata One';
}

// mat-option div,
// mat-select-trigger {
//     font-family: 'Sakkal Majalla';
//     font-size: 1.5em;
// }
// mat-checkbox {
//     font-family: 'Sakkal Majalla';
//     font-size: 1.25em;
// }
.valign-middle {
    vertical-align: middle;
}

.valign-sub {
    vertical-align: sub;
}

.icon-color {
    color: #0000008a;
}

.color-green {
    color: #368061; //, #368061);
}

.color-red {
    color: #f32c1e; //, #f32c1e);;
}

.color-blue {
    color: #718eb5;
}

.color-yellow {
    color: #a77430;
}

.color-dark-purple {
    color: #85559e;
}

.color-purple {
    color: #b19cd9;
}

.color-gray {
    color: rgb(117, 117, 117);
}

.color-toolbar {
    color: #4d5256;
}

.float-right {
    float: right;
}

.wrapper {
    margin: -5px 6px 6px 6px;
}

.top-right-logo {
    color: white;
}

.toolbar {
    background: #4d5256;
    color: white;
}

.bg-color {
    background-color: rgb(224, 218, 218);
}

.card-bg-color {
    background-color: rgb(248, 245, 245);
}

.bg-red {
    background: linear-gradient(60deg, #f55a4e, #f32c1e);
}

.bg-green {
    background: linear-gradient(60deg, #46a47b, #368061);
}

.bg-blue {
    background: linear-gradient(60deg, #93a8c7, #718eb5);
}

.bg-yellow {
    background: linear-gradient(60deg, #c88f42, #a77430);
}

.ul-no-bullets {
    list-style: none;
}

.margin-right-1em {
    margin-right: 1em;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.cursor-pointer {
    cursor: pointer;
}

.width-percent-30 {
    width: 30% !important;
}

.width-percent-25 {
    width: 25%;
}

.text-no-line {
    text-decoration-line: none;
}

a:not([href]) {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

a {
    text-decoration: none;
}

.large-checkbox .mat-checkbox-inner-container {
    padding: 6px;
    margin-bottom: 5px !important;
}

.large-checkbox-no-margin .mat-checkbox-inner-container {
    padding: 6px;
}

.large-checkbox-no-margin label.mat-checkbox-layout {
    align-items: center;
}

.mat-form-field-label span {
    font-size: 1.4em;
    font-weight: 600;
}

.display-contents {
    display: contents;
}


// html[data-theme='dark-mode'] {
//     filter: invert(1) hue-rotate(180deg);
// }

// html {
//     transition: color 2s, background-color 2s;
// }




/// Dark Mode
.dark-mode mat-card, .dark-mode mat-card-subtitle, .dark-mode .mat-toolbar.mat-primary {
    background-color: #2f3233;
    color: rgb(206, 206, 206);
}

body.dark-mode {
    background-color: black;
}