/* You can add global styles to this file, and also import other style files */

// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./theme.scss";
body {
    margin: 0;
    background-color: rgb(224, 218, 218); // #d4dbe4;
}

.valign-middle {
    vertical-align: middle;
}

.icon-color {
    color: #0000008a;
}

.color-green {
    color: #368061; //, #368061);
}

.color-red {
    color: #f32c1e; //, #f32c1e);;
}

.color-blue {
    color: #718eb5;
}

.color-yellow {
    color: #a77430;
}

.color-purple {
    color: #b19cd9;
}

.color-gray {
    color: rgb(117, 117, 117);
}

.float-right {
    float: right;
}

.wrapper {
    margin: -5px 6px 6px 6px;
}

.top-right-logo {
    color: white;
}

.toolbar {
    background: #4d5256;
    color: white;
}

.bg-color {
    background-color: rgb(224, 218, 218);
}

.card-bg-color {
    background-color: rgb(248, 245, 245);
}

.bg-red {
    background: linear-gradient(60deg, #f55a4e, #f32c1e);
}

.bg-green {
    background: linear-gradient(60deg, #46a47b, #368061);
}

.bg-blue {
    background: linear-gradient(60deg, #93a8c7, #718eb5);
}

.bg-yellow {
    background: linear-gradient(60deg, #c88f42, #a77430);
}

.ul-no-bullets {
    list-style: none;
}

.margin-right-1em {
    margin-right: 1em;
}

.cursor-pointer {
    cursor: pointer;
}

.width-percent-30 {
    width: 30% !important;
}

.width-percent-25 {
    width: 25%;
}

.text-no-line {
    text-decoration-line: none;
}

a:not([href]) {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.bottom-sheet-close {
    margin-block-start: 0.83em;
    font-size: 1.5em;
}