@use '@angular/material' as mat;
@import './palettes.scss';
@include mat.core();
@font-face {
    font-family: 'Pirata One';
    src: url('fonts/PirataOne-Regular.woff2') format('woff2'), url('fonts/PirataOne.woff') format('woff'), url('fonts/PirataOne.ttf') format('truetype');
}

@font-face {
    font-family: 'High Tower';
    src: url('fonts/HighTowerText-Reg.woff2') format('woff2'), url('fonts/HighTower.woff') format('woff'), url('fonts/HighTower.ttf') format('truetype');
}

@font-face {
    font-family: 'Sakkal Majalla';
    src: url('fonts/SakkalMajalla.woff2') format('woff2'), url('fonts/majalla.woff') format('woff'), url('fonts/majalla.ttf') format('truetype');
}

$custom-typography: mat.define-typography-config( $font-family: 'Sakkal Majalla',
$body-1: mat.define-typography-level(20px,
24px,
500),
$button: mat.define-typography-level(20px,
24px,
500));
@include mat.core($custom-typography);
$my-app-primary: mat.define-palette($md-gloomprimary);
$my-app-accent: mat.define-palette($md-gloomaccent,
500,
900,
A100);
$my-app-warn: mat.define-palette($md-gloomwarn);
$my-app-theme: mat.define-light-theme($my-app-primary,
$my-app-accent,
$my-app-warn);
@include mat.all-component-themes($my-app-theme);